.src-component-app-component-m__intro {
	background-color: yellow;
 }

 .src-component-app-component-m__inteo {
	 text-align: center;
 }
.src-component-main-component-m__intro {
	background-color: yellow;
 }

 .src-component-main-component-m__inteo {
	 text-align: center;
 }
