.slider {
	position: relative;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.arrow {
	width: 22.5%;
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 2;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.rightArrow {
	right: 0;
	border-radius: 0 8px 8px 0;
}

.rightArrow:hover {
	background: linear-gradient(to right, rgba(90, 90, 90, 0), rgba(90, 90, 90, 0.3));
}

.leftArrow {
	left: 0;
	border-radius: 8px 0 0 8px;
}

.leftArrow:hover {
	background: linear-gradient(to left, rgba(90, 90, 90, 0), rgba(90, 90, 90, 0.3));
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
	height: 100%;
	transform: scale(0.9);
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1);
}

.dot {
	width: 15px;
	height: 15px;
	background: white;
	border: 1px solid #0F1C3F;
	border-radius: 50%;
	box-shadow: 0.1em 0.1em 0 0 rgba(15, 28, 63, 0.125);
	cursor: pointer;
}

.dot.activeDot {
	background-color: rgb(115, 115, 115);
}

.dots {
	position: absolute;
	bottom: -30px;
	display: flex;
	column-gap: 0.5em;
}